<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- <p>ASSIGNMENT 1</p> -->
      <!-- <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="username" />
      <p>{{ username }}</p>
      <button
        class="btn btn-primary"
        [disabled]="username === ''"
        (click)="username = ''"
      >
        Reset User
      </button> -->
      <!-- <p>ASSIGNMENT 2</p>
      <button class="btn btn-primary" (click)="showSecret = !showSecret">
        Display Details
      </button>
      <p *ngIf="showSecret">Secret Password = tuna</p>
      <div
        *ngFor="let logItem of log"
        [ngStyle]="{ backgroundColor: logItem >= 5 ? 'blue' : 'transparent' }"
      >
        {{ logItem }}
      </div> -->

      <h3>I'm the yess</h3>
      <hr />
      <app-servers></app-servers>
    </div>
  </div>
</div>
